# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

# Virtual Environment
.venv/
venv/
env/

# IDE
.idea/
.vscode/

# Data & Output (QUAN TRỌNG)
data/processed/
data/raw/
result/
static/uploads/
static/results/


# Model Weights
weights/
*.pt
*.onnx